
<div class="container" ></div>
 <div class="row">
  <div class="col-lg-2 col-md-2" ></div>
  <div class="col-lg-8 col-md-8">
	<div class="jumbotron">
 	 <h1>Cuestionario Breve</h1>
 	 <p class="lead"><h3>Contesta estas preguntas sobre tu consumo de bebidas alcoholicas <b> durante el último año</b></h3></p>

		<%= render 'form', item: @item %>

		<%= link_to 'Volver', items_path %>

	</div>
   </div> <!-- Cierra col -->
 </div> <!-- cierra row -->
</div>
<div> <!-- cierra conrainer -->
