<div class= "container">
<div class ="row">
<div class="jumbotron">
  <h3 class="display-5">Cuestionario Breve</h3>
  <p class="lead">Contesta estas preguntas sobre tu consumo de bebidas alcoholicas <b> durante el último año</b></p>
  <hr class="my-4">

<%= render 'form', item: @item %>

<%= link_to 'Volver', items_path %>

</div>
</div>
</div>