

<div class="jumbotron">
  <h3 class="display-3">Cuestionario Breve</h3>
  <p class="lead"><h1>Contesta estas preguntas sobre tu consumo de bebidas alcoholicas <b> durante el último año</b></h1></p>
  <hr class="my-2">

<%= render 'form', item: @item %>

<%= link_to 'Volver', items_path %>

</div>

