/*Encabezado*/

.navbar{
	background-color: white;
	color: green;

}

.navbar-brand {
	font-size: 3em;
}

.navbar-brand img{
	width: 100px; 
	height: 100px;
}

/*Cuerpo*/

.jumbotron{
	background-color: #ccff99;
}

#tragos img{
	height: 200px;
	margin: 5px;
}

.form-group label{
	margin-top: 20px;
	font-size: 2.5em;
	font-weight: bold;
}




/*Inteneto de glyphycins*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: assets-path('glyphicons-halflings-regular.eot');
  src: assets-path('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    assets-path('glyphicons-halflings-regular.woff') format('woff'), 
    assets-path('glyphicons-halflings-regular.ttf') format('truetype'), 
    assets-path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
};