/*Encabezado*/

.navbar{
	background-color: #b3d9ff;
	text-decoration-color: white;
	color: white;

}

body{
	background-color: #ccffe6
}

.navbar-brand {
	font-size: 3em;
}

.navbar-brand img{
	width: 100px; 
	height: 100px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.lead{
	color: #ff4441;
}

/*Cuerpo*/

.jumbotron{

	background-color: #134d00;
	color: white;
}

#tragos img{
	height: 200px;
	margin: 5px;
}

.form-group label{
	margin-top: 20px;
	font-weight: bold;
}



/*Pie de página*/
footer{
	color: white;
	background-color: black;
}


/*Inteneto de glyphycins*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: assets-path('glyphicons-halflings-regular.eot');
  src: assets-path('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    assets-path('glyphicons-halflings-regular.woff') format('woff'), 
    assets-path('glyphicons-halflings-regular.ttf') format('truetype'), 
    assets-path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
};